


.Lista{

    background: black;
    color: white;
    padding: 50px;
    max-width: 10px;
    height: auto;
    float: left;
    display: list-item;
    list-style: circle;
    position: relative;
    text-decoration: none;
}

.pf1{

    background-color: skyblue;
    color: white;
    padding: 50px;
    width: 80%;
    height: 180px;
    width: 85%;
    display: flex;
    border: #000000 px solid;
    float: right;
    
    
}


.pf2{

    background-color: yellow;
    color: white;
    padding: 50px;
    width: 80%;
    height: 180px;
    width: 85%;
    display: flex;
    margin-top: -50px;
    float: right;
    
    
    
}


.pf3{

    background-color: orange;
    color: white;
    padding: 50px;
    width: 80%;
    height: 180px;
    width: 85%;
    display: flex;
    margin-top: -50px;
    float: right;
    
    
    
}

.pf4{

    background-color: red;
    color: white;
    padding: 50px;
    width: 80%;
    max-width: 90%;
    height: 180px;
    width: 85%;
    display: flex;
    margin-top: -50px;
    float: right;
    
    
    
}

h2{
    color: white;
}


nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: gray;
}



